{% if blog == blank %}
  {% for i in (1..items_per_page) %}
    <article class="{{ items_per_row }} relative article_wrapper--has-image">
      <div class="mb6">
        <a class="demo-1 color-2 inline-block mb0 w100" href="#" rel="nofollow">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </a>
        {% if section.settings.show_date %}
          <p class="posted inline-block mb0 mr2">{{ 'now' | date: "%a, %b %d, %y" }}</p>
        {% endif %}
      </div>
      <div class="rte excerpt" {% render 'helper-animation', type: 'text' %}>
        <h3 class="post-title mb5">
          <a class="no-hover" href="#" rel="nofollow">
            Add a title or tagline
          </a>
        </h3>
        <div class="article-headline">
          <p class="rte">
            Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.
          </p>
          <small>
            <a class="button btn-outline" href="#" rel="nofollow">{{ 'blogs.article.read_more' | t }}</a>
            {% if blog.comments_enabled? and section.settings.show_comments %}
              <a class="inline-block mb0 ml3" href="#" rel="nofollow">{{ 'blogs.comments.comments_with_count' | t: count: i }}</a>
            {% endif %}
          </small>
        </div>
      </div>
    </article>
  {% endfor %}
{% else %}
  {% for article in blog.articles limit: items_per_page %}
    <article class="{{ items_per_row }} relative {% if article.image or article.content contains '<img' %}article_wrapper--has-image{% endif %}">
      <div class="mb6">
        {% if article.image %}
          <a class="inline-block mb0 w100" href="{{ article.url }}">
            {% render 'helper-image', type: article.image, data_widths: '[180, 360, 540, 720, 900, 1080]' %}
            <noscript>
              <img src="{{ article.image | img_url: '800x' }}" alt="{{ article.image.alt }}">
            </noscript>
          </a>
        {% elsif article.content != blank and article.content contains "<img" %}
          {% assign src = article.content | split: ' src="' | last | split:'"' | first %}
          <a class="inline-block mb0 w100" href="{{ article.url }}">
            <img src="{{ src }}" alt="{{ article.title }}">
          </a>
        {% endif %}
        {% if section.settings.show_date %}
          {% assign published_at = article.published_at | date: format: 'month_date_year' %}
          <p class="posted inline-block mb0 mr2">{{ published_at | date: "%a, %b %d, %y" }}</p>
        {% endif %}
      </div>
      <div class="rte excerpt" {% render 'helper-animation', type: 'text' %}>
        <h3 class="post-title mb5">
          <a class="no-hover" href="{{ article.url }}">
            {{ article.title }}
          </a>
        </h3>
        <div class="article-headline">
          <p class="rte">
            {{ article.excerpt_or_content | strip_html | truncatewords: 30 }}

            {%- if section.settings.show_author or section.settings.show_tags -%}
              <div class="article__rte--details">
                {%- if article.author != blank and  section.settings.show_author -%}
                  <span class="article__rte--author block">
                    {{ 'blogs.article.by' | t }} {{ article.author }}
                  </span>
                {%- endif -%}

                {%- if article.tags.size > 0 and section.settings.show_tags -%}
                  <span class="article__rte--tags block">
                    {{ 'blogs.article.tagged' | t }}:&nbsp;
                    {%- for tag in article.tags -%}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                    {%- endfor -%}
                  </span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </p>
          <a class="button btn-outline" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
          {% if blog.comments_enabled? and section.settings.show_comments %}
            <a class="inline-block mb0 ml3" href="{{article.url}}#comments">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</a>
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}
{% endif %}
