{% comment %} Register Template {% endcomment %}
<section class="user-login">
  <div class="wrapper  pt8">

    {% render 'snip-headings', align: 'a-center', grid: 'span-12',  translation: 'customer.register.title' %}

    <div class="push-4 span-4 auto relative overflow-hidden">
      {%- assign formId = 'RegisterForm' -%}
      {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
        <div class="form wrapper rg5">
          <div class="span-12 a-left relative">
            {% include 'snip-form-status', form: form, form_id: formId %}
          </div>
          <div class="span-12 a-left relative">
            <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
          </div>
          <div class="span-12 a-left relative">
            <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">
          </div>
          <div class="span-12 a-left relative">
            <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
            <input
              type="email"
              name="customer[email]"
              id="{{ formId }}-email"
              class="{% if form.errors contains 'email' %} input--error{% endif %}"
              {% if form.email %} value="{{ form.email }}"{% endif %}
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {%- if form.errors contains 'email' -%}
                class="input--error"
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
              {%- endif -%}
            >
            {%- if form.errors contains 'email' -%}
              <span id="{{ formId }}-email-error" class="input-error-message inline-block mt1">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% render 'snip-icons', type: 'material', icon: 'error', classes:'sm mr3', fill: 'var(--error-msg-dark)', hover: 'var(--error-msg-dark)' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
            {%- endif -%}
          </div>
          <div class="span-12 a-left relative">
            <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
            <input
              type="password"
              name="customer[password]"
              id="{{ formId }}-password"
              class="{% if form.errors contains 'password' %} input--error{% endif %}"
              aria-required="true"
              {%- if form.errors contains 'password' -%}
                class="input--error"
                aria-invalid="true"
                aria-describedby="{{ formId }}-password-error"
              {%- endif -%}
            >
            {%- if form.errors contains 'password' -%}
              <span id="{{ formId}}-password-error" class="input-error-message inline-block mt1">
                {% render 'snip-icons', type: 'material', icon: 'error', classes:'sm mr3', fill: 'var(--error-msg-dark)', hover: 'var(--error-msg-dark)' %}
                <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
              </span>
            {%- endif -%}
          </div>
          <div class="span-12 a-left relative">
            <input class="button btn-secondary" type="submit" value="{{ 'customer.register.submit' | t }}"/>
            <span class="mb3"><a class="button btn-sng-outline" href="#" rel="nofollow" onclick="Toggle('customer-login', 'create-customer');return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
          </div>
        </div>
       {% endform %}
    </div>
  </div>
  <script type="text/javascript">
    function Toggle(show, hide) {
      var show = document.getElementById(show);
      show.classList.remove("hide");
      show.classList.add("show");
      show.style.display = 'block';

      var hide = document.getElementById(hide);
      hide.classList.remove("show");
      hide.classList.add("hide");
      hide.style.display='none';
    }
  </script>
</section>
