<!DOCTYPE html>
<html class="no-js supports-no-cookies" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Establish early connection to external domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="//ajax.googleapis.com" crossorigin />

  {%- assign main_font = settings.main_font -%}
  {%- assign heading_font = settings.heading_font -%}
  {%- assign nav_font = settings.nav_font -%}
  {%- assign main_font_bold = main_font | font_modify: 'weight', 'bolder' -%}
  {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
  {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}

    <!-- Preload onDomain stylesheets and script libraries -->
  <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'scripts.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">

  {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />{% endif %}
  {%- if canonical_url != blank -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}


  <title>{% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} &ndash; {{ shop.name }}{% endif %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}

  {% render 'snip-social-meta-tags' %}
  {% render 'snip-structured-data' %}
  {% render 'css-variables' %}

  <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}">

  {{ content_for_header }}
</head>

<body class="template-{{ template.name | handle }} shown">
   {{ content_for_layout }}

   {% render 'cart-config' %}
   {%- if request.page_type contains 'customers/' or request.page_type contains 'cart' -%}
   <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
   {%- endif -%}
   <script src="{{ 'scripts.js' | asset_url }}"></script>
   <script src="{{ 'theme.js' | asset_url }}"></script>

   {%- if request.page_type contains 'customers/' -%}
   <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
   {%- endif -%}

   <!-- JS -->
   <script>
     document.documentElement.className =
        document.documentElement.className.replace("no-js","js");
   </script>
</body>
</html>
