{% comment %} Featured Product Logic {% endcomment %}
{%- liquid
  assign product = all_products[section.settings.featured_product]
  assign current_variant = product.selected_or_first_available_variant
  assign product_featured_image = product.selected_or_first_available_variant.media | default: product.featured_media

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  if settings.show_payment_button
    assign secondary_button = 'btn-secondary'
  endif

  assign product_info_align =  'a-center'

  assign thumbnail_position = section.settings.thumbnail_position
  assign click_to_enlarge = section.settings.click_to_enlarge
  assign enable_video_looping = section.settings.enable_video_looping

  assign media_count = ''
  if product.media.size == 0
    assign media_count = 0
  else
    for media in product.media
      if media.alt contains 'detail-photo'
        assign media_count = product.media.size | minus: 1
      else
        assign media_count = product.media.size
      endif
    endfor
  endif

  if product.tags contains 'Instore Only'
    assign instore = true
    assign call_to_action = 'products.product.instore_only' | t
  else
    assign instore = false
    assign call_to_action = 'products.product.add_to_cart' | t
  endif

  unless current_variant.available
   assign call_to_action = 'products.product.sold_out' | t
  endunless

  if settings.section_title_align == 'center'
    assign heading_align = 'a-center'
  else
    assign heading_align = 'a-left'
  endif

  if product.media.size < 1
   assign is_single_image = true
  else
   assign is_single_image = false
   endif
-%}


{% capture product_gallery_config %}{
  "thumbPosition": {{ section.settings.thumbnail_position | json }},
  "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
  "mainSlider": {% if product.media.size <= 1 %}false{% else %}true{% endif %},
  "thumbSlider": {% if product.media.size >= 4 %}true{% else %}false{% endif %},
  "productId": {{ product.id | json }},
  "thumbsShown": 4,
  "clickToEnlarge": {{ click_to_enlarge | json }},
  "isQuick": false
}{% endcapture %}

{%- capture product_form_config -%}{
  "money_format": {{ shop.money_format | json }},
  "enable_history": false,
  "sold_out": {{ "products.product.sold_out" | t | json }},
  "unavailable": {{ "products.product.unavailable" | t | json }},
  "button": {{ 'products.product.add_to_cart' | t | json }},
  "stock_issue": {{ 'cart.general.stock_issue' | t | json }},
  "item_out_first": {{ "cart.general.item_out_first" | t | json }},
  "item_out_last": {{ "cart.general.item_out_last" | t | json }},
  "instore": {{ instore }},
  "instore_only": {{ 'products.product.instore_only' | t | json }},
  "featured_product": true
}{%- endcapture -%}

{% comment %} Featured Product Template {% endcomment %}
<section
  class="global__section featured-product featured-product-{{ section.id }} product-{{ product.id }} {{ section_padding }}"
  data-product-id="{{ product.id }}" data-section-id="{{ section.id }}"
  data-section-type="product" {% render 'helper-animation', type: 'scroll' %}
  data-initial-variant="{{ current_variant.featured_media.id }}">

  {% render 'product-json', product: product %}

  <div class="wrapper aflow">
    {% render 'snip-headings', url: product.url,  align: heading_align, grid: 'span-12' %}

    {% if product != blank %}
      <article
      id="product-photos"
      class="product__section-images product-photos span-6 v-start js-product-gallery single_image--{{ is_single_image }}"
      data-product-single-media-group
      data-product-gallery
      data-gallery-config='{{ product_gallery_config }}'>
        {% render 'product-image-gallery',
          product: product,
          media_count: media_count,
          thumbnail_position: thumbnail_position,
          click_to_enlarge: click_to_enlarge,
          enable_video_looping: enable_video_looping %}
      </article>

      <article
        id="product-description"
        class="span-4 push-7 v-start">

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'product_title' %}
              <h3 class="lh2 mb2" {{ block.shopify_attributes }}>
                <a href="{{ product.url }}">{{ product.title }}</a>
              </h3>
            {% when 'product_subtitle' %}
              {% if block.settings.subtitle != blank %}
                <h4 class="subtitle mb0" {{ block.shopify_attributes }}>{{ block.settings.subtitle }}</h4>
              {% elsif product.description contains '[#subtitle]' %}
                {% assign subtitle = product.description | split: '[/subtitle]' | first | split: '[#subtitle]' | last %}
                <h4 class="subtitle mb0" {{ block.shopify_attributes }}>{{ subtitle }}</h4>
              {% endif %}
            {% when 'product_form' %}
              <div {{ block.shopify_attributes }}>
                {% render 'product-form',
                  product: product,
                  type: section,
                  product_type: 'featured_product',
                  current_variant: current_variant,
                  product_form_config: product_form_config,
                  call_to_action: call_to_action,
                  secondary_button: secondary_button,
                  product_info_align: product_info_align,
                  instore: instore,
                  show_quantity: block.settings.show_quantity %}
              </div>
            {% when 'social_share' %}
              <div class="social-share a-center mt6" {{ block.shopify_attributes }}>
                <p class="inline-block mb0 v-center">{{ 'products.product.social_share' | t }}</p>
                {% render 'snip-social-sharing',
                  share_title: product.title,
                  share_permalink: product.url,
                  share_image: product %}
              </div>
            {% when 'rating' %}
               {%- if product.metafields.reviews.rating.value != blank -%}
                 <div class="product__section--rating-wrapper">
                   {% liquid
                    assign rating_decimal = 0
                    assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                    if decimal >= 0.3 and decimal <= 0.7
                     assign rating_decimal = 0.5
                   elsif decimal > 0.7
                     assign rating_decimal = 1
                    endif
                   %}
                   <div class="product__section-rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                     <span aria-hidden="true" class="product__section-rating-star color-icon" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};">
                     </span>
                   </div>
                   <p class="product__section-rating-text caption">
                     <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
                   </p>
                   <p class="product__section-rating-count caption">
                     <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                     <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                   </p>
                 </div>
               {%- endif -%}
            {% when '@app' %}
              <div class="product__section--app" {{ block.shopify_attributes }}>
                {% render block %}
              </div>
          {% endcase %}
        {% endfor %}

      </article>
    {% else %}
      {% render 'onboard-single-product' %}
    {% endif %}
  </div>

  <style>
    {% if section.settings.show_selected_border %}
      .featured-product-{{ section.id }} #thumb-slider-wrapper .product-single__thumbnails-item {
        border-bottom: 3px solid transparent;
      }

      .featured-product-{{ section.id }} #thumb-slider-wrapper .product-single__thumbnails-item.is-nav-selected {
        border-color: var(--accent-color);
      }
    {% endif %}
  </style>

  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

</section>

{% schema %}
{
 "name": "Featured product",
 "class": "dynamic-section",
 "settings": [
   {
     "type": "text",
     "id": "title",
     "label": "Heading",
     "default": "Featured Product"
   },
   {
     "type": "product",
     "id": "featured_product",
     "label": "Product"
   },
   {
     "type": "select",
     "id": "section_padding",
     "label": "Section spacing",
     "options": [
       {
         "value": "top",
         "label": "Top"
       },
       {
         "value": "bottom",
         "label": "Bottom"
       },
       {
         "value": "both",
         "label": "Both"
       },
       {
         "value": "none",
         "label": "None"
       }
     ],
     "default": "both"
   },
   {
     "type": "header",
     "content": "Media"
   },
   {
     "type": "select",
     "id": "thumbnail_position",
     "label": "Thumbnail position",
     "options": [
       {
         "value": "right",
         "label": "Right"
       },
       {
         "value": "left",
         "label": "Left"
       },
       {
         "value": "bottom",
         "label": "Bottom"
       }
     ]
   },
   {
     "type": "checkbox",
     "id": "show_selected_border",
     "label": "Show border on selected thumbnail",
     "default": true
   },
   {
     "type": "checkbox",
     "id": "click_to_enlarge",
     "label": "Enable click to enlarge",
     "default": true
   },
   {
     "type": "checkbox",
     "id": "enable_video_looping",
     "label": "Enable video looping",
     "default": false
   },
   {
     "type": "paragraph",
     "content": "Learn more about [Media types](https:\/\/help.shopify.com/en\/manual\/products\/product-media\)"
   }
 ],
 "blocks": [
   {
     "type": "product_title",
     "name": "Product title",
     "limit": 1,
     "settings": []
   },
   {
     "type": "product_subtitle",
     "name": "Product subtitle",
     "limit": 1,
     "settings": [
       {
         "type": "text",
         "id": "subtitle",
         "label": "Subtitle"
       }
     ]
   },
   {
     "type": "product_form",
     "name": "Product form",
     "limit": 1,
     "settings": [
       {
         "type": "checkbox",
         "id": "show_quantity",
         "label": "Show quantity selector",
         "default": true
       }
     ]
   },
   {
     "type": "social_share",
     "name": "Social share",
     "limit": 1,
     "settings": []
   },
   {
     "type": "rating",
     "name": "Product rating",
     "limit": 1,
     "settings": [
       {
         "type": "paragraph",
         "content": "To display a rating, add a product rating app. [Learn more](https:\/\/weareunderground.com/blogs/theme-support/how-to-display-product-rating-on-product-grid-and-product-page)"
       }
     ]
   },
   {
     "type": "@app"
   }
 ],
 "presets": [
   {
     "name": "Featured product",
     "blocks": [
       {
         "type": "product_title"
       },
       {
         "type": "product_subtitle"
       },
       {
         "type": "product_form"
       },
       {
         "type": "social_share"
       }
     ]
   }
 ],
 "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
