{% comment %} Footer Logic {% endcomment %}
{%- liquid
  assign locale_selector = false
  assign currency_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif
-%}

{% comment %} Footer Template {% endcomment %}
<footer
  class="footer-section pt10 pb7"
  data-section-id="{{ section.id }}"
  data-section-type="footer-section">
  <section class="top-footer wrapper " {% render 'helper-animation', type: 'scroll', offset: 0 %}>
    <div class="span-4 auto">
      {% if section.settings.footer_logo != blank %}
        <a class="footer-logo mb4 lh0 inline-block" href="{{ routes.root_url }}">
          <img src="{{ section.settings.footer_logo | img_url: '800x' }}" alt="{{ shop.name }}">
        </a>
      {% endif %}
      {% if section.settings.footer_text != blank %}
        {{ section.settings.footer_text }}
      {% endif %}
      {% if section.settings.show_social %}
        {% render 'snip-footer-social-icons' %}
      {% endif %}
    </div>
    <div class="span-4 auto sm-hide md-hide"></div>
    <div class="span-4 auto">
<!-- TrustBox widget - Micro Review Count -->
<div class="trustpilot-widget" data-locale="nl-NL" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5f0b6b51f5f487000171f9a5" data-style-height="24px" data-style-width="100%" data-theme="light">
  <a href="https://nl.trustpilot.com/review/debladeren.nl" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
    </div>
  </section>
  <section class="bottom-footer wrapper " {% render 'helper-animation', type: 'scroll', offset: 0 %}>
    <div class="left-footer span-6 auto a-left v-end">
      {% if section.settings.footer_nav != blank %}
        <ul class="inline-block mb0">
          {% for link in linklists[section.settings.footer_nav].links %}
            <li>
              <a class="" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="right-footer span-6 auto a-right v-end">
      {% if locale_selector or currency_selector %}
        <div class="disclosures mb6">
          {%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
            {%- if locale_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="lang-heading">
                  {{ 'general.language.dropdown_label' | t }}
                </h2>

                <div class="disclosure" data-disclosure-locale>
                  <button type="button" class="disclosure__toggle btn-outline" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                    {{ form.current_locale.endonym_name }}
                  </button>
                  <ul id="lang-list" class="disclosure-list py2" data-disclosure-list>
                    {% for locale in form.available_locales %}
                      <li class="disclosure-list__item py1 pr7 pl3 {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" rel="nofollow" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                          {{ locale.endonym_name }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}

            {%- if currency_selector -%}
              <div class="selectors-form__item">
                <h2 class="visually-hidden" id="currency-heading">
                  {{ 'general.currency.dropdown_label' | t }}
                </h2>

                <div class="disclosure" data-disclosure-currency>
                  <button type="button" class="disclosure__toggle btn-outline" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                    {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                  </button>
                  <ul id="currency-list" class="disclosure-list py2" data-disclosure-list>
                    {% for currency in form.available_currencies %}
                      <li class="disclosure-list__item py1 pr7 pl3 {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                        <a class="disclosure-list__option" href="#" rel="nofollow" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                          {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      {% endif %}
      {% if section.settings.show_credit_cards %}
        <div class="payment-methods mb6">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
          {% endfor %}
        </div>
      {% endif %}
      <div class="copyright">
        <small>{% if section.settings.show_copyright %}<a href="{{ routes.root_url }}">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</a>{% endif %}</small>
      </div>
    </div>
  </section>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
       "type": "header",
       "content": "Footer Top"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
    },
    {
      "type": "richtext",
      "id": "footer_text",
      "label": "Text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laborez.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons",
      "default": true
    },
    {
       "type": "header",
       "content": "Footer Bottom"
    },
    {
      "type": "link_list",
      "id": "footer_nav",
      "label": "Footer menu",
      "default":"footer"
    },
    {
      "type": "checkbox",
      "id": "show_credit_cards",
      "label": "Show payment icons",
      "default": true,
      "info": "The icons that show are determined by your store's payment settings."
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "Show site name and copyright",
      "default": true
    },
    {
       "type": "header",
       "content": "Language Selector",
       "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
       "type": "header",
       "content": "Currency Selector",
       "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    }
  ]
}
{% endschema %}
