{% comment %} Header Logic {% endcomment %}
{%- liquid

  assign layout_style = ''
  if section.settings.inline_layout
    assign layout_style = 'inline-layout'
  else
    assign layout_style = 'block-layout'
  endif

  if section.settings.enable_sticky
    assign sticky = 'stickynav'
  endif

  assign nav_align = ''
  assign nav_width = ''
  assign logo_width = ''
  assign cartlink_width = ''
  if section.settings.logo_align_left
    if section.settings.nav_alignment == "left"
      assign logo_width = 'span-3 auto'
      assign logo_align = 'a-left'
      assign nav_width = 'span-6 auto'
      assign nav_align = 'v-center a-left'
      assign cartlink_width = 'span-3 auto'
    elsif section.settings.nav_alignment == "center"
      assign logo_width = 'span-3 auto'
      assign logo_align = 'a-left'
      assign nav_width = 'span-6 auto'
      assign nav_align = 'v-center a-center'
      assign cartlink_width = 'span-3 auto'
    endif
  else
    if section.settings.nav_alignment == "center"
      assign logo_width = 'span-4 auto'
      assign logo_align = 'a-center'
      assign nav_width = 'span-4 auto'
      assign nav_align = 'v-center a-center'
      assign cartlink_width = 'span-4 auto'
    elsif section.settings.nav_alignment == "left"
      assign logo_width = 'span-4 auto'
      assign logo_align = 'a-center'
      assign nav_width = 'span-4 auto'
      assign nav_align = 'v-center a-left'
      assign cartlink_width = 'span-4 auto'
    endif
  endif

  if section.settings.inline_layout == false and section.settings.logo_align_left == false
    assign logo_width = 'push-4 span-4 auto'
    assign cartlink_width = 'span-4 auto'
  elsif section.settings.inline_layout == false and section.settings.logo_align_left
    assign logo_width = 'span-4 auto'
    assign cartlink_width = 'span-8 auto'
  endif

  assign use_icons = false
  if section.settings.show_desktop_icons
    assign use_icons = true
  endif
-%}


{% comment %} Header Template {% endcomment %}
<header class="header-section" data-section-id="{{ section.id }}" data-section-type="header-section">

  <section class="main-bar w100 devices-hide js-theme-header {{ sticky }}">
    <div class="wrapper {{ layout_style }}">
      {% if section.settings.inline_layout %}
        {% render 'header-inline', use_icons: use_icons, nav_align: nav_align, nav_width: nav_width, logo_align: logo_align,  cartlink_width: cartlink_width, logo_width: logo_width %}
      {% else %}
        {% render 'header-block', use_icons: use_icons, nav_align: nav_align, nav_width: nav_width, logo_align: logo_align, cartlink_width: cartlink_width, logo_width: logo_width %}
      {% endif %}
    </div>
  </section>

  <section class="searchbox ">
    <!-- <div class="searchbox__background"></div> -->
    <div class="searchbox__inner wrapper edge py7">
    <article class="span-10 push-1 auto v-stretch v-center">
      <button class="js-search-close search-close btn-as-link" aria-label="Close searchbox" tabindex="0" type="button" name="button">
        {% render 'snip-icons', type: 'theme', icon: 'close', classes:'sm mt0 mr0 mb0 ml0', fill: 'var(--header-links)', hover: 'var(--header-links-hover)' %}
      </button>
      {%- if settings.predictive_search_enabled -%}
      <predictive-search
        data-routes="{{ routes.predictive_search_url | default: '/search/suggest' }}"
        data-show-only-products="{{ settings.search_show_products_only | default: 'false' }}"
        data-results-per-resource="5"
        data-input-selector='input[name="q"]'
        data-results-selector="#predictive-search"
        >
      {%- endif -%}
      <form action="{{ routes.search_url }}" method="get">
        <input
          class="mb0"
          type="text"
          name="q"
          id="q"
          placeholder="Zoeken..."
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-list"
            aria-controls="predictive-search-results-list"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%} />
        <input name="options[prefix]" type="hidden" value="last">

        {% if settings.search_show_products_only %}
          <input type="hidden" name="type" value="product">
        {% endif %}

        {%- if settings.predictive_search_enabled -%}
          <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
        {%- endif -%}
      </form>
      {%- if settings.predictive_search_enabled -%}
      </predictive-search>
      {%- endif -%}
    </article>
    </div><!-- /.searchbox__inner -->
  </section>

  <section class="mobile-nav__mobile-header {{ sticky }} lg-hide l0 z5 pt5 pb5 js-mobile-header">
    <article id="mobile-menu" class="wrapper mb1 pt1 pb1">
      <ul class="span-3 md-span-3 sm-span-3 auto a-left v-center list-style-none mb0">
        <li>
          <div class="slideout__trigger--open text-left">
            <button class="slideout__trigger-mobile-menu js-slideout-open btn-as-link" data-wau-slideout-target="mobile-navigation" data-slideout-direction="left" aria-label="Open navigation" tabindex="0" type="button" name="button">
              {% render 'snip-icons', type: 'theme', icon: 'menu-bars', classes:'sm mt0 mr2 mb0 ml0', fill: 'var(--header-links)', hover: 'var(--header-links-hover)' %}
            </button>
          </div>
        </li>
      </ul>
      <div class="site-logo mobile-nav__logo-wrapper span-6 md-span-6 sm-span-6 auto a-center v-center shrink-wrap">
        {% if section.settings.logo_homepage != blank and template == 'index' %}
          <a class="mobile-nav__img-logo-home inline-block lh0 mb0 shrink-wrap" href="{{ routes.root_url }}"><img src="{{ section.settings.logo_homepage | img_url: '800x' }}" alt="{{ shop.name }}"></a>
        {% elsif section.settings.logo != blank %}
          <a class="mobile-nav__img-logo inline-block lh0 mb0 shrink-wrap" href="{{ routes.root_url }}"><img src="{{ section.settings.logo | img_url: '800x' }}" alt="{{ shop.name }}"></a>
        {% else %}
          <a class="mobile-nav__text-logo inline-block v-center m0" href="{{ routes.root_url }}">{{ shop.name }}</a>
        {% endif %}
      </div>
      <ul class="span-3 md-span-3 sm-span-3 auto a-right v-center list-style-none inline-block mb0 header-cart-links-mobile">
        {% render 'header-cart-links', classes: "m0 p0", use_icons: true, is_mobile: true %}
      </ul>
    </article>
  </section>

  <style>
    .header__logo-wrapper a {
      font-size: {{ section.settings.logo_size }}px;
      max-width: {{ section.settings.logo_max_width }}px;
    }
    .mobile-nav__img-logo {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
</header>
<div class="clear js-clear-element"></div>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Layout options"
    },
    {
      "type": "checkbox",
      "id": "inline_layout",
      "label":  "Show logo inline with navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "logo_align_left",
      "label":  "Left align logo",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "default": false,
      "label": "Enable sticky header"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "logo_homepage",
      "label": "Home page logo image",
      "info": "Shows on home page only (optional)"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 200
    },
    {
      "type": "range",
      "id": "logo_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Logo text",
      "default": 18
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "main_nav",
      "label": "Choose main menu",
	    "default":"main-menu",
	    "info": "Used only when navigation style set to full"
    },
    {
      "type": "select",
      "id": "nav_alignment",
      "label": "Text alignment",
      "default":"left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_desktop_icons",
      "default": false,
      "label": "Use icons",
      "info": " On desktop for cart, search, and account links"
    }
	],
  "blocks": [
    {
      "type": "linklist_with_images",
       "name": "Links with images",
       "settings": [
        {
          "type":"text",
          "id":"linklist_images_menu_item",
          "label":"Navigation item",
          "info":"Enter navigation item to apply a mega menu. This menu will display a maximum of three link columns and three custom photos. Set up linklists in Admin > Online Store > Navigation."
        },
        {
          "type": "select",
          "id": "image_ratio",
          "default": "square",
          "options": [
             { "value": "vertical", "label": "Vertical images"},
             { "value": "horizontal", "label": "Horizontal images"},
             { "value": "square", "label": "Square images"}
          ],
          "label": "Image ratio"
        },
        {
          "type": "select",
          "id": "links_alignment",
          "label": "Image label alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "left"
        },
        {
          "type": "image_picker",
          "id": "featured_image_1",
          "label": "Select a featured image #1"
        },
        {
          "type": "text",
          "id": "featured_image_label_1",
          "label": "Featured image label #1"
        },
        {
          "id": "image_url_1",
          "type": "url",
          "label": "Image link #1"
        },
        {
          "type": "image_picker",
          "id": "featured_image_2",
          "label": "Select a featured image #2"
        },
        {
          "type": "text",
          "id": "featured_image_label_2",
          "label": "Featured image label #2"
        },
        {
          "id": "image_url_2",
          "type": "url",
          "label": "Image link #2"
        },
        {
          "type": "image_picker",
          "id": "featured_image_3",
          "label": "Select a featured image #3"
        },
        {
          "type": "text",
          "id": "featured_image_label_3",
          "label": "Featured image label #3"
         },
         {
          "id": "image_url_3",
          "type": "url",
          "label": "Image link #3"
        }
      ]
    }
  ]
}
{% endschema %}
