{% comment %} Hero image with text logic {% endcomment %}
{%- liquid
  case section.settings.text_align
  when 'left'
    assign text_align =  'a-left'
  when 'center'
    assign text_align =  'a-center'
  when 'right'
    assign text_align =  'a-right'
  endcase

  case section.settings.vertical_align
  when 'top'
    assign vertical_align =  'v-start'
  when 'middle'
    assign vertical_align =  'v-center'
  endcase

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

-%}

{% comment %} Hero image with text template {% endcomment %}
<section
  class="global__section section-text-with-image text-with-image-{{ section.id }} {{ section_padding }}"
  data-section-id="{{ section.id }}">

  <div class="wrapper narrow">
    <article class="text span-6 auto {{ text_align }} {{ vertical_align }}">
      <div class="text-with-image pt8 pb9 sm-pb5" {% render 'helper-animation', type: 'text' %}>
        {% if section.settings.title != blank %}
          <h3 class="mb6">{{ section.settings.title | escape }}</h3>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte mb1">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button != blank and section.settings.link != blank %}
          <a href="{{ section.settings.link }}" class="button btn-outline">
            {{ section.settings.button | escape }}
          </a>
        {% endif %}
      </div>
    </article>
    <article class="image span-6 auto relative {{ vertical_align }}">
      <div
        class="image-container pt8">

        {% if section.settings.image == blank %}
          <div class="demo-1 color-1 placeholder-image">
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% else %}
          {% render 'helper-image', type: section.settings.image, data_widths: '[180, 360, 540, 720, 900, 1080, 1296, 1512]' %}
        {% endif %}
      </div>
    </article>
  </div>

  <style media="screen">
    .text-with-image-{{ section.id }}.section-text-with-image {
      background: -webkit-linear-gradient({{ section.settings.bg_color }} 80%, var(--background) 20%);
      color: {{ section.settings.text_color }};
    }
    @media screen and (min-width: 767px) {
      .text-with-image-{{ section.id }}.section-text-with-image .button {
        color: {{ section.settings.text_color }} !important;
        border-color: {{ section.settings.text_color }} !important;
      }
      .text-with-image-{{ section.id }}.section-text-with-image .button:after {
        border-color: {{ section.settings.text_color }} !important;
      }
    }
    .text-with-image-{{ section.id }}.section-text-with-image p {
      font-size: {{ section.settings.text_size }}px;
    }
    .text-with-image-{{ section.id }}.section-text-with-image a {
      color: {{ section.settings.text_color }};
    }
    .text-with-image-{{ section.id }}.section-text-with-image h3 {
      color: {{ section.settings.text_color }};
      font-size: {{ section.settings.heading_size }}px;
    }
    @media (max-width: 767px) {
      .text-with-image-{{ section.id }}.section-text-with-image {
        background: -webkit-linear-gradient({{ section.settings.bg_color }} 35%, var(--background) 35%);
      }
      .text-with-image-{{ section.id }}.section-text-with-image h3 {
        font-size: calc({{ section.settings.heading_size }}px - ({{ section.settings.heading_size }}px * 0.15));
      }
      .text-with-image-{{ section.id }}.section-text-with-image p {
        font-size: calc({{ section.settings.text_size }}px - ({{ section.settings.text_size }}px * 0.15));
      }
    }
    {% if section.settings.color_header %}
      .template-index #shopify-section-header,
      .template-index .main-bar,
      .template-index header,
      .template-index .header-section .mobile-nav__mobile-header {
        background-color: {{ section.settings.bg_color }};
      }
      .template-index .main-bar .dlink,
      .template-index ul.cart.cart-link-topbar-false li a,
      .template-index header .site-logo a,
      .template-index .main-bar ul.cart a,
      .template-index .main-bar ul.cart span,
      .template-index .main-bar ul.cart a span,
      .template-index .main-bar ul.nav > a {
        color: {{ section.settings.text_color }} !important;
      }
      .template-index .main-bar ul.cart.cart-link-topbar-false svg .icon-fill g {
        stroke: {{ section.settings.text_color }};
      }
      .template-index .main-bar ul.cart.cart-link-topbar-false #icon--user-circle-logout g {
        fill: {{ section.settings.text_color }};
      }
      .template-index .dlink #icon--dropdown-arrow.stroke g {
        stroke: {{ section.settings.text_color }};
      }
      .template-index .main-bar .dlink svg g,
      .template-index #mobile-menu g.icon-fill {
        stroke: {{ section.settings.text_color }};
      }
    {% endif %}
  </style>
</section>
{% schema %}
  {
    "name": "Hero image with text",
    "class": "dynamic-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Use an image with a 3 x 4 vertical ratio for best results"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text horizontal align",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "select",
        "id": "vertical_align",
        "label": "Text vertical align",
        "default": "middle",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 22,
        "max": 64,
        "step": 1,
        "unit": "px",
        "label": "Heading size",
        "default": 64
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 12,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Text size",
        "default": 16
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "section_padding",
        "label": "Section spacing",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "both",
            "label": "Both"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "bottom"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#FAF4E8"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background",
        "default": "#5A7057"
      },
      {
        "type": "checkbox",
        "id": "color_header",
        "label": "Match header to section colors",
        "info": "Use this setting if this section is displayed first on the home page",
        "default": false
      }
    ],
    "presets": [{
      "name": "Hero image with text"
      }
    ],
    "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
