{% comment %} Image with text logic {% endcomment %}
{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  assign block_order = ''
  if section.settings.iwt_layout == 'image_left'
    assign img_order = 1
    assign text_order = 2
  else
    assign img_order = 2
    assign text_order = 1
  endif

-%}

{% comment %} Image with text template {% endcomment %}
<section
  class="global__section section-image-with-text image-with-text-{{ section.id }} {{ section_padding }} wrapper relative cg0"
  data-section-id="{{ section.id }}" {% render 'helper-animation', type: 'scroll' %}>

    <article class="image span-6 auto" style="order: {{ img_order }};">
      {% if section.settings.iwt_image != blank %}
        <div class="background-image lazyload"
        data-bgset="{% render 'snip-bgset', image: section.settings.iwt_image  %}"
        data-sizes="auto"></div>
      {% else %}
        <div class="onboard demo-1 color-3">
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </article>
    <article class="info span-6 auto" style="order: {{ text_order }};">
      <div class="info__inner-wrapper p11 sm-px6 sm-py8">
        {% if section.settings.iwt_heading != blank %}
          <h2>{{ section.settings.iwt_heading }}</h2>
        {% endif %}
        {% if section.settings.iwt_text != blank %}
          {{ section.settings.iwt_text }}
        {% endif %}
        {% if section.settings.iwt_link != blank %}
          <a class="button btn-outline" href="{{ section.settings.iwt_link }}">{{ section.settings.iwt_button }}</a>
        {% endif %}
      </div>
    </article>
    <style>
      @media (min-width: 768px) {
        .image-with-text-{{ section.id }} article {
          height: {{ section.settings.iwt_section_height }}px;
        }
      }
    </style>
</section>
{% schema %}
  {
    "name": "Image with text",
    "class": "dynamic-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "iwt_image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "iwt_layout",
        "label": "Layout",
        "default": "image_left",
        "options": [
          {
            "value": "image_left",
            "label": "Image left"
          },
          {
            "value": "image_right",
            "label": "Image right"
          }
        ]
      },
      {
        "type": "text",
        "id": "iwt_heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "richtext",
        "id": "iwt_text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "iwt_button",
        "default": "Button",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "iwt_link",
        "label": "Button link"
      },
      {
        "type": "range",
        "id": "iwt_section_height",
        "min": 200,
        "max": 1200,
        "step": 100,
        "unit": "px",
        "label": "Section height",
        "default": 500
      },
      {
        "type": "select",
        "id": "section_padding",
        "label": "Section spacing",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "both",
            "label": "Both"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "both"
      }
    ],
    "presets": [{
      "name": "Image with text"
      }
    ],
    "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
