{% comment %} Locations Logic {% endcomment %}
{%- liquid
  if section.settings.full_width
    assign full_width =  'edge'
  endif

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  if section.settings.item_position == 'left'
    assign position_one = 'first'
    assign position_two = 'last'
  elsif section.settings.item_position == 'right'
    assign position_one = 'last'
    assign position_two = 'first'
  elsif section.settings.item_position == 'center'
    assign position_one = 'a-center'
    assign position_two = 'a-center'
  endif

  if section.settings.item_width == 'one_third' or section.settings.item_width == '33'
    assign width_one = 'span-8'
    assign width_two = 'span-4'
  elsif section.settings.item_width == 'one_half' or section.settings.item_width == '50'
    assign width_one = 'span-6'
    assign width_two = 'span-6'
  elsif section.settings.item_width == 'two_thirds' or section.settings.item_width == '66'
    assign width_one = 'span-4'
    assign width_two = 'span-8'
  elsif section.settings.item_width == 'three_quarters' or section.settings.item_width == '75'
    assign width_one = 'span-9'
    assign width_two = 'span-3'
  elsif section.settings.item_width == 'one_whole' or section.settings.item_width == '100'
    assign width_one = 'span-8 push-2'
    assign width_two = 'span-8 push-2'
  endif
-%}

{% comment %} Locations Template {% endcomment %}
<section
class="global__section section-featured-locations featured-locations-{{ section.id }} {{ section_padding }}"
data-section-id="{{ section.id }}"
data-section-type="image-carousel">

  <div class="wrapper {{ full_width }}">

    <article class="{{ width_two }} {{ position_one }}">
      <div class="slider-container">
        <div class="main-carousel v-center js-flickity-container">
          {% if section.blocks.size > 0 %}
              {% for block in section.blocks %}
                <div
                  class="carousel-cell slide-{{ block.id }}"
                  data-block-id="{{ block.id }}" data-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>

                  {% if block.settings.location_image == blank %}
                    <div class="placeholder-image demo-1 color-2">
                      {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
                      {% assign placeholder = 'collection-' | append: current %}
                      {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% else %}
                    {% render 'helper-image', type: block.settings.location_image, data_widths: '[180, 360, 540, 720, 900, 1080]' %}
                  {% endif %}

                </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </article>
    <article class="{{ width_one }} {{ position_two }} a-left v-center">
      <div class="text-with-image pl8 pr8 sm-pl0">
        <h3>{{ section.settings.title }}</h3>
        <ul class="locations">
          {% for block in section.blocks %}
            <li class="location-name" {{ block.shopify_attributes }}>
              {% if block.settings.location_name != blank %}
                <a class="relative" href="{{ block.settings.location_link }}">
                  {{ block.settings.location_name }}
                  {% render 'snip-icons', type: 'theme', icon: 'right-arrow', classes:'sm m0 absolute r0', fill: 'var(--link-color)', hover: 'var(--link-hover)' %}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>

  </div>
</section>

{% schema %}
{
  "name": "Locations",
  "class": "dynamic-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our Locations"
    },
    {
      "type": "select",
      "id": "item_position",
      "label": "Choose image position",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ]
     },
    {
      "type": "select",
      "id": "item_width",
      "label": "Choose image width",
      "options": [
        { "value": "one_third", "label": "33%" },
        { "value": "one_half", "label": "50%" },
        { "value": "two_thirds", "label": "75%" },
        { "value": "one_whole", "label": "100%" }
      ],
      "default": "one_half"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks":[
    {
      "type":"location",
      "name":"Location",
      "settings":[
        {
          "type": "image_picker",
          "id": "location_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "location_name",
          "label": "Location name",
          "default": "California"
        },
        {
          "type": "url",
          "id": "location_link",
          "label": "Location link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Locations",
      "blocks": [
        {
          "type": "location"
        },
        {
          "type": "location"
        },
        {
          "type": "location"
        }
      ]
    }
  ],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
