{%- liquid

  assign basic_banner = false
  assign section_banner = false
  assign full_width = false

  assign basic_banner_img = collection.handle | append: '.jpg'

  if images[basic_banner_img] != blank and collection.description contains '[banner]'
    assign basic_banner = true
  elsif section.settings.image != blank
    assign section_banner = true
  endif

  if section.settings.full_width
   assign full_width = 'edge'
  endif

-%}

{%- if basic_banner or section_banner -%}
  <section class="collection__section--banner collection__banner-{{ section.id }} wrapper {{ full_width }}"
  data-aos="fade"
  data-section-id="{{ section.id }}" >
      <div class="collection__banner-image span-12 auto">
      {%- if basic_banner -%}
        {% assign img_url = basic_banner_img | file_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <div class="box-ratio">
          <img class="lazyload lazyload-fade"
            data-src="{{ img_url }}"
            data-sizes="auto"
            alt="{{ collection.title | escape }}">
        </div>
      {%- elsif section.settings.image != blank -%}
        {% render 'helper-image', type: section.settings.image, data_widths: '[180, 360, 540, 720, 900, 1080, 1296, 1512]' %}
      {% endif %}
    </div>
    <style>
      .collection__banner-{{ section.id }} .box-ratio {
        padding-bottom: {{ section.settings.banner_height }}px !important;
      }
      .collection__banner-{{ section.id }} .box-ratio img {
        object-fit: cover;
        object-position: center;
        height: {{ section.settings.banner_height }}px !important;
      }
    </style>
  </section>
  <div class="clear"></div>
{%- endif -%}

{% schema %}
{
  "name": "Collection banner",
  "settings": [{
      "type": "paragraph",
      "content": "Add a banner image to all collections in your store. Show a unique image per collection by following this [guide](https:\/\/www.weareunderground.com\/blogs\/theme-support\/add-a-custom-banner-image-to-each-collection-page)."
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image",
      "info": "1920px x 600px recommended"
    },
    {
      "type": "range",
      "id": "banner_height",
      "min": 200,
      "max": 600,
      "step": 100,
      "unit": "px",
      "label": "Banner height",
      "default": 400
    }
  ]
}
{% endschema %}
