{% comment %} Login Template {% endcomment %}
<section class="user-login pt9 pb9">
  <div class="wrapper">
    <div class="push-4 span-4 auto relative overflow-hidden">
      {% if shop.checkout.guest_login %}
        <div class="guest-user-login">
          {% render 'snip-headings', align: 'a-center', grid: 'span-12',  translation: 'customer.login.guest_title' %}

          {% form 'guest_login' %}
            <input class="button btn-secondary" type="submit" value="{{ 'customer.login.guest_continue' | t }}" />
          {% endform %}
        </div>
      {% endif %}
      <div id="customer-login" class="mt8 w100 shown">
        {% render 'snip-headings', align: 'a-center',  grid: 'span-12', translation: 'customer.login.title' %}

        {% form 'recover_customer_password', novalidate: novalidate %}
          <div class="wrapper">
            <div class="span-12 a-left relative">
              {%- if form.posted_successfully? -%}
              <div class="note note-success mb3 inline-block w100">
                <div class="inline-block v-start">
                  {% render 'snip-icons', type: 'theme', icon: 'checkmark', classes:'sm mr3', fill: 'var(--success-msg-dark)', hover: 'var(--success-msg-dark)' %}
                </div>
                <p class="form-message form-message--success inline-block w90 mb0 sm v-start" tabindex="-1" data-form-status>
                  {{ 'customer.recover_password.success' | t }}
                </p>
              </div>
              {%- endif -%}
            </div>
          </div>
        {% endform %}

        {% form 'customer_login', novalidate: novalidate %}
          <div class="customer-login form wrapper rg5">
            <div class="span-12 a-left relative">
              {%- if form.errors -%}
                <div class="errors note note-error mb3 inline-block w100">
                  <div class="inline-block v-start w10">
                    {% render 'snip-icons', type: 'material', icon: 'error', classes:'sm mr3', fill: 'var(--error-msg-dark)', hover: 'var(--error-msg-dark)' %}
                  </div>
                  <div class="inline-block v-start mb0 w80">
                    {{ form.errors | default_errors }}
                  </div>
                </div>
              {%- endif -%}
            </div>

            <div class="span-12 a-left relative">
              <label for="customer-email">{{ 'customer.login.email' | t }}</label>
              <input
                type="email"
                name="customer[email]"
                id="CustomerEmail"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {%- if form.errors contains 'form' -%}
                  class="input--error"
                  aria-invalid="true"
                {%- endif -%}
                >
            </div>

            {% if form.password_needed %}
              <div class="span-12 a-left relative">
                <label for="customer-password">{{ 'customer.login.password' | t }}</label>
                <input
                  type="password"
                  value=""
                  name="customer[password]"
                  id="CustomerPassword"
                  {%- if form.errors contains 'form' -%}
                    class="input--error"
                    aria-invalid="true"
                  {%- endif -%}
                >
                <div id="forgot-password" class="mb3 mt1">
                  <a href="#" rel="nofollow" onclick="Toggle('recover-password', 'customer-login');return false;">{{ 'customer.login.forgot_password' | t }}</a>
                </div>
              </div>
            {% endif %}

            <div class="span-12 a-left relative">
              <input class="button btn-secondary" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
              <a class="button btn-sng-outline" href="#" rel="nofollow" onclick="Toggle('create-customer', 'customer-login');return false;">{{ 'customer.register.title' | t }}</a>
            </div>
          </div>
        {% endform %}
      </div>

      <div id="recover-password" class="mt8 w100 hidden" style="display:none;">
        {% render 'snip-headings', align: 'a-center', grid: 'span-12',  translation: 'customer.recover_password.title' %}
        <p class="mb3 a-center">{{ 'customer.recover_password.subtext' | t }}</p>
        {%- assign formId = 'RecoverPassword' -%}
        {% form 'recover_customer_password', novalidate: novalidate %}
          <div class="form wrapper">
            <div class="span-12 a-left relative">
              {% include 'snip-form-status', form: form, form_id: formId %}
            </div>
            <div id="recover-email" class="span-12 a-left relative">
              <label for="email" class="mb3">{{ 'customer.recover_password.email' | t }}</label>
              <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >

              {%- if form.errors -%}
                <span id="RecoverEmail-email-error" class="input-error-message inline-block w100 mt1">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% render 'snip-icons', type: 'material', icon: 'error', classes:'sm mr3', fill: 'var(--error-msg-dark)', hover: 'var(--error-msg-dark)' %}
                  <span>{{ form.errors.messages['form'] }}</span>
                </span>
              {%- endif -%}

            </div>
            <div class="span-12 a-left relative">
              <input class="button btn-secondary" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
              <span class="mb3"><a class="button btn-sng-outline" rel="nofollow" href="#" onclick="Toggle('customer-login', 'recover-password');return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
            </div>
          </div>
        {% endform %}
      </div>
      <div id="create-customer" class="mt8 w100 hidden" style="display:none;">
        {% render 'snip-headings', align: 'a-center', grid: 'span-12',  translation: 'customer.register.title' %}

        {% form 'create_customer' %}
          <div class="form wrapper rg5">
            {% render 'snip-form-error' %}

            <div class="span-12 a-left relative">
              <label for="first-name">{{ 'customer.register.first_name' | t }}</label>
              <input id="first-name" type="text" value="" name="customer[first_name]" size="30" />
            </div>

            <div class="span-12 a-left relative">
              <label for="last-name">{{ 'customer.register.last_name' | t }}</label>
              <input id="last-name" type="text" value="" name="customer[last_name]" size="30" />
            </div>

            <div class="span-12 a-left relative">
              <label for="email">{{ 'customer.register.email' | t }}</label>
              <input id="email" type="email" value="" name="customer[email]" size="30" />
            </div>

            <div class="span-12 a-left relative">
              <label for="password">{{ 'customer.register.password' | t }}</label>
              <input id="password" type="password" value="" name="customer[password]" size="30" />
            </div>

            <div class="span-12 a-left relative">
              <input class="button btn-secondary" type="submit" value="{{ 'customer.register.submit' | t }}"/>
              <span class="mb3"><a class="button btn-sng-outline" href="#" rel="nofollow" onclick="Toggle('customer-login', 'create-customer');return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    if (window.location.hash == '#recover') { Toggle('recover-password', 'customer-login'); }

    function Toggle(show, hide) {
      var show = document.getElementById(show);
      show.classList.remove("hide");
      show.classList.add("show");
      show.style.display = 'block';

      var hide = document.getElementById(hide);
      hide.classList.remove("show");
      hide.classList.add("hide");
      hide.style.display='none';
    }
  </script>
</section>
