{% comment %} Article Logic {% endcomment %}
{%- liquid
  assign number_of_comments = article.comments_count

  assign show_sidebar = false
  assign show_date = false

  if section.settings.show_sidebar
    assign show_sidebar = true
    assign item_width = 'span-9 auto'
  else
    assign item_width = 'span-12 auto'
  endif

  if section.settings.show_date
    assign show_date = true
    assign published_at = article.published_at | date: format: 'month_date_year'
  endif

  if section.settings.center_heading
    assign heading_align = 'a-center'
  else
    assign heading_align = 'a-left'
  endif
-%}

{% comment %} Article Template {% endcomment %}
<section
  class="article-template"
  data-section-id="{{ section.id }}"
  data-section-type="article-template">

  <div class="wrapper cg8 sm-cg0 pt8">
      <div class="{{ item_width }}">
        <h1 class="{{ heading_align }}">{{ article.title }}</h1>
        {% if show_date or section.settings.show_author %}
          <p class="posted {{ heading_align }}">
            {%- if show_date -%}{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}{%- if article.author != blank and section.settings.show_author -%},{% endif %}{%- endif -%}
            {%- if article.author != blank and section.settings.show_author -%}
              <span class="article__rte--author">
                {{ 'blogs.article.by' | t }} {{ article.author }}
              </span>
            {%- endif -%}

          </p>
        {% endif %}

        {% if article.image and section.settings.show_article_image %}
          {% render 'helper-image', type: article.image, data_widths: '[180, 360, 540, 720, 900]' %}
        {% endif %}

        <div class="rte mt8">
          {{ article.content }}
        </div>

        {% render 'snip-social-sharing',
          share_title: article.title,
          share_permalink: article.url,
          share_image: article
        %}

        {%- if blog.previous_article or blog.next_article-%}
        <div class="prev-next-pagination mb8 border-top border-bottom shrink-wrap px1 py4">
          <a class="prev-article inline-block w50 mb0 a-left" href="{{ blog.previous_article }}">
            {% if blog.previous_article != blank %}
              {% render 'snip-icons', type: 'theme', icon: 'left-arrow', classes: 'md', fill: 'var(--link-color)', hover: 'var(--link-hover)' %}
              &nbsp;{{ blog.previous_article.title  | truncate: 30 }}
            {% endif %}
          </a>
          <a class="next-article inline-block w50 mb0 a-right" href="{{ blog.next_article }}">
            {% if blog.next_article != blank %}
              {{ blog.next_article.title  | truncate: 30 }}&nbsp;
              {% render 'snip-icons', type: 'theme', icon: 'right-arrow', classes: 'md', fill: 'var(--link-color)', hover: 'var(--link-hover)' %}
            {% endif %}
          </a>
        </div>
        {%- endif -%}

        {% render 'article-comments',
          blog: blog,
          article: article,
          number_of_comments: number_of_comments
         %}
      </div>

      {% render 'article-sidebar',
        blog: blog,
        article: article,
        show_sidebar: show_sidebar %}
  </div>
</section>



{% schema %}
{
"name": "Blog posts",
"settings":
	[
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show published date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_article_image",
        "label": "Show article image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sidebar",
        "label": "Show sidebar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "center_heading",
        "label": "Center heading",
        "default": false
      }
    ]
}
{% endschema %}
