<div
  class="mobile-nav__wrapper"
  data-section-id="{{ section.id }}"
  data-section-type="mobile-navigation">

  {% render 'header-mobile', type: 'mobile-menu', slideout_direction: 'left' %}

  <div class="mobile-nav__menu-blocks pt6">
    {% if section.settings.main_nav != blank %}
      <div class="mobile-nav__mobile-menu-wrapper">

        {% assign unique_id = section.id | slice: 0, 7 %}
        {% assign mobile_menu_allow_multiple = false %}

        <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--mobile-nav c-accordion--outer__wrapper c-accordion--{{unique_id}}"
          id="c-accordion--mobile"
          {% if mobile_menu_allow_multiple %}data-accordion-allow-multiple{% endif %}>

        {% assign menu = linklists[section.settings.main_nav] %}

        {% for link in menu.links %}

          {% assign level_one_nested_link_count = 0 %}

          {% if link.links != blank %}

            {% assign level_one_nested_link_count = level_one_nested_link_count | plus: 1 %}
            {% assign level_one_link_index = forloop.index %}
            {% assign accordion_content_class = 'c-accordion__panel--' %}
            {% assign accordion_content_id = accordion_content_class | append: unique_id | append: '-' | append: forloop.index %}

            <li class="js-accordion-header c-accordion__header c-accordion__top-level">
              <a class="js-accordion-link c-accordion__link mb0" href="{{ link.url }}">{{ link.title | escape }}</a>
              <button class="dropdown-arrow" aria-label="{{  link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ accordion_content_id }}" >
                {% render 'snip-icons', type: 'theme', icon: 'down-carrot', classes: 'inactive-arrow sm mt0 mr0 mb0 ml0', fill: 'var(--text-color)', hover: 'var(--icon-hover)' %}
              </button>
            </li>

            <li class="c-accordion__panel {{ accordion_content_id }}" id="{{ accordion_content_id }}" data-parent="#c-accordion--mobile">

              {% assign level_two_unique_id = unique_id | append: '-' | append: level_one_nested_link_count %}

              <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--mobile-nav c-accordion--mobile-nav__inner c-accordion__second-level-wrapper c-accordion--{{ level_two_unique_id }}"
              id="c-accordion--mobile-1">

                {% for sub_link in link.links %}
                  {% if sub_link.links != blank %}

                      {% assign level_two_link_index = forloop.index %}
                      {% assign level_two_accordion_content_id = 'c-accordion__panel--' | append: unique_id | append: '-' | append: level_one_link_index | append: '-' | append: level_two_link_index %}

                      <li class="js-accordion-header c-accordion__header c-accordion__second-level">
                        <a class="js-accordion-link c-accordion__link mb0" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                        <button class="dropdown-arrow" aria-label="{{  sub_link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ level_two_accordion_content_id }}" >
                          {% render 'snip-icons', type: 'theme', icon: 'down-carrot', classes: 'inactive-arrow sm mt0 mr0 mb0 ml0', fill: 'var(--text-color)', hover: 'var(--icon-hover)' %}
                        </button>
                      </li>

                      <li class="c-accordion__panel c-accordion__third-level {{ level_two_accordion_content_id }}" id="{{ level_two_accordion_content_id }}" data-parent="#c-accordion--mobile-1">
                        <ul>
                          {% for sub_sub_link in sub_link.links %}

                            <li>
                              <a class="js-accordion-link c-accordion__link mb0" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                            </li>

                          {% endfor %}
                        </ul>
                      </li>
                  {% else %}
                  <li class="c-accordion__second-level">
                    <a class="js-accordion-link c-accordion__link mb0" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
          <li class="c-accordion__top-level">
            <a class="js-accordion-link c-accordion__link mb0" href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
          {% endif %}
        {% endfor %}
        {% if shop.customer_accounts_enabled %}
          {% if customer  %}
            <li class="c-accordion__top-level">
              <a class="js-accordion-link c-accordion__link mb0" href="{{ routes.account_url }}">
                {{ 'general.header.account' | t }}
              </a>
            </li>
            <li class="c-accordion__top-level">
              <a class="js-accordion-link c-accordion__link mb0" href="{{ routes.account_logout_url }}">
                {{ 'general.header.logout' | t }}
              </a>
            </li>
          {% else %}
            <li class="c-accordion__top-level">
              <a class="js-accordion-link c-accordion__link mb0" href="{{ routes.account_login_url }}">{{ 'general.header.login' | t }}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>

      </div>
    {% endif %}
    {% if section.settings.menu_image != blank %}
      <div class="wrapper narrow py8">
        <div class="mobile-nav__img-wrapper span-12 auto">
          {% render 'helper-image' | type: section.settings.menu_image, data_widths: '[180, 360, 540, 720, 900]' %}
          <noscript>
            <img src="{{ section.settings.menu_image | img_url: '800x' }}" alt="{{ section.settings.menu_image.alt }}">
          </noscript>
        </div>
      </div>
    {% endif %}
  </div>
  <style>
    #slideout-mobile-navigation {
      background-color: {{ section.settings.background_color }};
    }
    .mobile-nav__mobile-header.mobile-menu {
      background-color: {{ section.settings.background_color }};
    }
    .mobile-nav__wrapper input::placeholder {
      color: {{ section.settings.text_color }} !important;
      opacity: 1;
    }
    .mobile-nav__wrapper input:-ms-input-placeholder {
      color: {{ section.settings.text_color }} !important;
      opacity: 1;
    }
    .mobile-nav__wrapper input::-ms-input-placeholder {
      color: {{ section.settings.text_color }} !important;
      opacity: 1;
    }
    .mobile-nav__wrapper .mobile-nav__logo-wrapper a {
      color: {{ section.settings.text_color }} !important;
    }
    .mobile-nav__wrapper .c-accordion--outer__wrapper {
      border-top: 0.8px solid {{ section.settings.border_color }} !important;
    }
    .mobile-nav__wrapper .c-accordion__top-level  {
      border-bottom: 0.8px solid {{ section.settings.border_color }} !important;
    }
    .mobile-nav__wrapper .c-accordion.c-accordion--mobile-nav li:not(.c-accordion__panel) {
      border-color: {{ section.settings.border_color }} !important;
    }
    .mobile-nav__wrapper .c-accordion__link {
      color: {{ section.settings.text_color }} !important;
    }
    .mobile-nav__wrapper .icon-fill {
      stroke: {{ section.settings.text_color }} !important;
    }
    .mobile-nav__wrapper .c-accordion__second-level-wrapper,
    .mobile-nav__wrapper .c-accordion__second-level-wrapper .c-accordion__second-level {
      background-color: {{ section.settings.second_level }} !important;
    }
    .mobile-nav__wrapper .c-accordion__second-level-wrapper .c-accordion__second-level a {
      text-transform: initial !important;
    }
  </style>
</div>



{% schema %}
  {
    "name": "Mobile Navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "main_nav",
        "label": "Choose mobile menu",
        "default":"main-menu"
      },
      {
        "type": "image_picker",
        "id": "menu_image",
        "label": "Menu image",
        "info": "Optional"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Color Styles"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background",
        "default":"#faf4e8"
      },
      {
        "type": "color",
        "id": "second_level",
        "label": "Dropdown links bg",
        "default":"#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default":"#000"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Borders",
        "default":"#000"
      }
	  ]
  }
{% endschema %}
