{% comment %} Store availability Logic {% endcomment %}
{%- liquid
  assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true
  assign pick_up_available = false
  if pick_up_availabilities.size > 0
    assign pick_up_available = true
  endif
-%}

{% comment %} Store availability Template {% endcomment %}
<div class="store-availability-container"
  data-pick-up-available="{{ pick_up_available }}"
  data-section-id="{{ section.id }}"
  data-section-type="store-availability"
>
  {%- if pick_up_available -%}
    <div class="store-availability__product-properties wrapper edge cg0 pt6">
     <div class="store-availability__pickup-details span-12 auto">
         {%- assign closest_location = pick_up_availabilities.first -%}
         {%- if closest_location.available -%}
           <span class="store-availability-information__title mt1 inline-block">
             {% render 'snip-icons', type: 'theme', icon: 'checkmark', classes:'sm mr0', fill: 'var(--success-msg-dark)', hover: 'var(--success-msg-dark)' %} {{ 'store_availability.general.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
           </span>
         {%- else -%}
           <span class="store-availability-information__title mt1 inline-block">
             {% render 'snip-icons', type: 'material', icon: 'error', classes:'sm mr0', fill: 'var(--error-msg-dark)', hover: 'var(--error-msg-dark)' %} {{ 'store_availability.general.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
           </span>
         {%- endif -%}
     </div>
    </div>
    {%- comment -%}
    <div class="store-availability-information block w100">
      {%- assign closest_location = pick_up_availabilities.first -%}
      {%- if closest_location.available -%}
        <button class="slideout__trigger-store-availability js-slideout-open" data-slideout-direction="right" data-wau-slideout-target="store-availability" aria-label="Toggle slideout" tabindex="0" type="button" name="button">
          {%- if pick_up_availabilities.size == 1 -%}
            {{ 'store_availability.general.view_store_info' | t }}
          {%- else -%}
            {{ 'store_availability.general.check_other_stores' | t }}
          {%- endif -%}
        </button>
      {%- else -%}
        <button class="slideout__trigger-store-availability js-slideout-open" data-slideout-direction="right" data-wau-slideout-target="store-availability" aria-label="Toggle slideout" tabindex="0" type="button" name="button">
          {%- if pick_up_availabilities.size == 1 -%}
            {{ 'store_availability.general.view_store_info' | t }}
          {%- else -%}
            {{ 'store_availability.general.check_other_stores' | t }}
          {%- endif -%}
        </button>
      {%- endif -%}
     </div>
    {%- endcomment -%}
    <div class="store-availability-container store-availabilities__modal modal px6" id="StoreAvailabilityModal" data-wau-slideout-content="store-availability">
      <div class="slideout__trigger--close">
        <button class="slideout__trigger-store-availability btn-secondary js-slideout-close" data-slideout-direction="right" aria-label="Close navigation" tabindex="0" type="button" name="button">
          {% render 'snip-icons', type: 'theme', icon: 'left-arrow', classes: 'md', fill: 'var(--link-color)', hover: 'var(--link-hover)' %}
        </button>
      </div>
      <div class="store-availabilities-modal__header">
        <span class="store-availabilities-modal__product-information">
          <h2 class="store-availabilities-modal__product-title mb1 pt6" data-store-availability-modal-product-title>
          </h2>
          {%- unless product_variant.title contains 'Default' -%}
          <p class="store-availabilities-modal__variant-title store-availability-small-text sm-caps">
            {{ product_variant.title }}
          </p>
          {%- endunless -%}
        </span>
      </div>
      <div class="store-availabilities-list">
        {%- for availability in pick_up_availabilities -%}
          <div class="store-availability-list__item py4 border-bottom{% if forloop.first %} border-top{% endif %}">
            <div class="store-availability-list__location mb1">
              <h3>{{ availability.location.name }}</h3>
            </div>
            <div class="store-availability-list__stock store-availability-small-text inline-block mb3 mt0">
              {%- if availability.available -%}
                {% render 'snip-icons', type: 'theme', icon: 'checkmark', classes:'sm mr0', fill: 'var(--success-msg-dark)', hover: 'var(--success-msg-dark)' %} {{ 'store_availability.general.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
              {%- else -%}
                {% render 'snip-icons', type: 'material', icon: 'error', classes:'sm mr0', fill: 'var(--error-msg-dark)', hover: 'var(--error-msg-dark)' %} {{ 'store_availability.general.pick_up_currently_unavailable' | t }}
              {%- endif -%}
            </div>
            {%- assign address = availability.location.address -%}
              <div class="store-availability-list__address mt0 mb0">
                {{ address | format_address }}
              </div>
            {%- if address.phone.size > 0 -%}
              <p class="store-availability-list__phone mt0 mb0">
                {{ address.phone }}
              </p>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": {},
  "settings": []
}
{% endschema %}
